{% extends "mainpage/base.html" %}
{% load bootstrap4 %}

{% block content %}
<h1>Discuss</h1>
<a href="{% url 'mainpage:newtopic' %}">Create a topic</a><hr>
{% for topic in topics %}
    <div class="card"><div class="card-body">
        <small class="card-text">{{ topic.creator.username }}</small><br>
        <pre><a class="card-text" href="{% url 'mainpage:topic' topic.id %}">{{ topic }}</a></pre>
    </div></div>
{% empty %}
    <p>Be the first! Discuss a topic.</p>
{% endfor %}
{% endblock %}