{% extends "mainpage/base.html" %}
{% load bootstrap4 %}

{% block content %}
<h1>{{ topic }}</h1>
<pre>{{ topic.body }}</pre><hr>
<h2>Comments</h2>
<a href="{% url 'mainpage:newcomment' topic.id %}">Comment</a><br>
{% for comment in comments %}
<div class="card"><div class="card-body">
    <small class="card-text">{{ comment.creator.username }}</small><br>
    <pre class="card-text">{{ comment }}</pre>
</div></div>
{% empty %}
    <p>There are no comments... yet.</p>
{% endfor %}
{% endblock %}