{% extends "mainpage/base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="card"><div class="card-body">
    <div class="inline">
        <a href="{% url 'users:upvote' 'topic' topic.id %}"><button>^</button></a>
        <p>{{ topic.votes }} {% if topic.votes == 1 %}vote{% else %}votes{% endif %}</p>
        <a href="{% url 'users:downvote' 'topic' topic.id %}"><button>v</button></a>
    </div>
    <div class="inline">
        <p style="font-size: xxx-large;">{{ topic }}</p>
        <pre>{{ topic.body }}</pre>
    </div>
</div></div><hr>
<h2>Comments</h2>
<a href="{% url 'mainpage:newcomment' topic.id %}">Comment</a><br>
{% for comment in comments %}
<div class="card"><div class="card-body">
    <div class="inline">
        <a href="{% url 'users:upvote' 'comment' comment.id %}"><button>^</button></a>
        <p>{{ comment.votes }} {% if comment.votes == 1 %}vote{% else %}votes{% endif %}</p>
        <a href="{% url 'users:downvote' 'comment' comment.id %}"><button>v</button></a>
    </div>
    <div class="inline">
        <small class="card-text">{{ comment.creator.username }}</small><br>
        <p class="card-text">{{ comment }}</p>
    </div>
</div></div>
{% empty %}
    <p>There are no comments... yet.</p>
{% endfor %}
{% endblock %}